name: Node.js Package

on:
  release:
    types: [created]

jobs:

# publish docker image to ghrc.io
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Login to ghrc.io
        uses: docker/login-action@v3

        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/varlucian/restapi:latest


#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v6
#       - uses: actions/setup-node@v4
#         with:
#           node-version: 16
#       - run: npm install


    # needs: build
    # runs-on: ubuntu-latest
    # permissions:
    #   packages: write
    #   contents: read
    # steps:
    #   - uses: actions/checkout@v6
    #   - uses: actions/setup-node@v4
    #     with:
    #       node-version: 16
    #       registry-url: https://npm.pkg.github.com/
    #   - run: npm ci
    #   - run: npm publish
    #     env:
    #       NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
